<section class="board">
    @for (int rowIndex = 0; rowIndex < 3; rowIndex++)
    {
        <div class="row">
            @for (int columnIndex = 0; columnIndex < 3; columnIndex++)
            {
                <div class="cell">
                </div>
            }
        </div>
    }
</section>

@code {

    class Posicao {
        public int Linha { get; set; }
        public int Coluna { get; set; }
    }
}
